*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.6)), url("keyboard.jpg")  ;
    background-repeat: no-repeat;
    background-size: cover;
    
    color: rgb(254, 254, 254);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    height: 100vh;
    padding:5rem;
    
}
main>h1{
    font-size: 3rem;
}
main > *{
    margin-top: 2rem;
}

.buy-now{
    background-color: rgb(250, 72, 72);
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 6rem;
    border: none;
    
}
.buy-now:hover{
    background-color: rgb(255, 255, 255);
    color:  rgb(250, 72, 72);
}
.demos{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 6rem;
}
.demos:hover{
   color: rgb(255, 255, 255);
    background-color:  rgb(250, 72, 72);
}

.buy-now,.demos{
    cursor: pointer;
}